/* reset styles */
body, html {
    height: 100%;
    font-family: "Roboto", sans-serif;
}

*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

* {
    font-size: 30px;
    font-weight: 500;
}

/* common styles for whole page */
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    background-color: rgb(20, 127, 250);
}

/* styles for counter */
.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

/* paragraph that descrubes you what shows the counter */

.counter p {
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
}

/* <div> that shows quantity of sport sets */
.counter__number {
    font-size: 35px;
    background-color: rgba(248, 242, 242, 0.2);
    padding: 20px 30px;
    font-weight: 500;
    border-radius: 50%;
    margin: 0px 0px 20px 0px;
}

/* styles for three buttons */
.counter button {
    cursor: pointer;
    margin: 0px 0px 20px 0px;
    padding: 0px 12px;
    border-radius: 4px;
    box-shadow: rgb(235 235 235) 0px 6px 0px;
    font-size: 22px;
    height: 55px;
    color: rgb(186, 73, 73);
    font-weight: 800;
    width: 200px;
    background-color: #fff;
    transition: color 0.3s ease-in-out 0s;
}

.counter button:hover {
    background-color: rgb(58, 50, 50);
    color: rgb(255, 255, 255);
}